{{ define "title" }}
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<title>
    学习与发展指导中心预约系统
</title>
<link rel="stylesheet" href="/static/legacy/assets/css/datepicker.css" type="text/css" />
<link type="text/css" href="/static/legacy/assets/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/static/legacy/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/legacy/assets/js/datepicker.js"></script>
{{ end }}

{{ define "content" }}
<body background="/static/legacy/assets/img/bg.png" style="text-align:center;">
    <div id="page_title">
        学习与发展指导中心预约系统<br>管理员系统
    </div>
    <button onclick="addReservation();">新增</button>
    <button onclick="removeReservations();">删除</button>
    <button onclick="cancelReservations();">取消预约</button>
    <button onclick="exportReservations();">导出选定预约</button>
    <button onclick="logout();" style="margin-left:50px">退出登录</button>
    <div style="padding-top:10px">
        <input type="text" id="query_date" style="width:80px"/>
        <button onclick="queryReservations();">查询</button>
    </div>
    <div id="page_maintable">

    </div>
    <div id="page_bottom"><br><br>清华大学学生学习发展指导中心<br>联系方式：62792453(欧老师)</div>
</body>
<script type="text/javascript" src="/static/legacy/assets/js/user.js"></script>
<script type="text/javascript" src="/static/legacy/assets/js/admin.js"></script>
<script type="text/javascript">
	viewReservations();
	$("#query_date").DatePicker({
		format: "YY-m-dd",
		date: $("#query_date").val(),
		current: $("#query_date").val(),
		starts: 1,
		position: "r",
		onBeforeShow: function() {
			$("#query_date").DatePickerSetDate($("#query_date").val(), true);
		},
		onChange: function(formated, dates) {
			$("#query_date").val(formated);
			$("#query_date").val($("#query_date").val().substr(4, 10));
			$("#query_date").DatePickerHide();
		},
	});
</script>
{{ end }}
