{{ define "title" }}
<head>
    <title>学习发展中心一对一咨询预约系统</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/legacy/assets/css/index.css">
    <link href="/static/legacy/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/legacy/assets/css/fit.css">
    <link rel="stylesheet" type="text/css" href="/static/legacy/assets/css/mainContent.css">
    <link type="text/css" href="/static/legacy/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/legacy/assets/js/jquery-3.2.1.min.js"></script>
   
</head>
{{ end }}

{{ define "content" }}
<body style="overflow-x: hidden; overflow-y: auto;">
    <nav class="navbar navbar-inverse" style="background-color: #743481;background-image: none; margin-bottom: 8px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">欢迎使用一对一咨询预约系统</a>
        </div>
      </div>
    </nav>
    

    <div class="panel">
        <div class="mainContent" id="mainContent" style="padding: 5px 0 5px 0; margin: 5px 0px 5px 0px">
            <div class="conBody" style="padding-top: 0px">
                <div id="page_maintable" style="text-align:center;">
                </div>
            </div>
        </div>   
    </div>

    <script type="text/javascript" src="/static/legacy/assets/js/student.js"></script>
    <script type="text/javascript" src="/static/legacy/assets/js/tool.js"></script>
    <script type="text/javascript">
        viewGroupedReservations();
    </script>
</body>
{{ end }}
