<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
    <title>
        学习与发展指导中心预约系统
    </title>
    <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div id="page_title">
        学习与发展指导中心预约系统<br>咨询师登录
    </div>

    <div class="login">
        请用工号和密码登录
        <br><br>
        工　号：<input id="username"/>
        <br>
        密　码：<input id="password" type="password"/>
        <br><br>
        <button class="btn btn-primary" type="button" onclick="login();">登录</button>
    </div>
    <div id="page_bottom"><br><br>清华大学学生学习发展指导中心<br>联系方式：62792453(欧老师)</div>
</body>
<script type="text/javascript" src="/assets/js/user.js"></script>
<script type="text/javascript">
    optimize('.login');
</script>
</html>